<app-not-found
  [visible]="!food.id"
  notFoundMessage="Food Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>

<div *ngIf="food.id" class="container">
  <div class="image-container">
    <img [src]="food.imageUrl" [alt]="food.name" class="food-image"/>
  </div>

  <div class="details">
    <div class="header">
      <span class="name">{{ food.name }}</span>
      <span class="favorite" [ngClass]="{ 'favorite-heart': food.favorite, 'not-favorite-heart': !food.favorite }">
        <svg *ngIf="food.favorite" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Favorite Food">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
        <svg *ngIf="!food.favorite" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Not a Favorite">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="none" stroke="black" stroke-width="2"/>
        </svg>
      </span>
    </div>

    <div class="rating">
      <star-rating
        [value]="food.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="25px"
        [readonly]="true">
      </star-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of food.origins" class="origin">
        {{ origin }}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{ tag }}" class="tag-link">
        {{ tag }}
      </a>
    </div>

    <div class="cook-time">
      <span>
        Preparation: <strong>{{ food.cookTime }}</strong> minutes
      </span>
    </div>

    <div class="price">
      <span>
        {{ food.price | currency }}
      </span>
    </div>

    <div class="action-buttons">
      <button (click)="addToCart()" class="add-to-cart-btn" aria-label="Add to Cart">Add To Cart</button>
    </div>
  </div>
</div>
